$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$background-moredark: #4527a0;

th {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    color: blueviolet;
    background-color: lightblue;
    font-size: 15px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}

td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    color: darkblue;
}
table {
    border-radius: 5px 5px 5px 5px;
    border-collapse: collapse;
    padding: 5px;
    margin-left: 1px;
    width: 99%;
}

table tr:nth-child(odd) {
    background-color: lightcyan;
}
table tr:nth-child(even) {
    background-color: lightsalmon;
}

.table-responsive {
    overflow-y: auto;
    height: 400px;
}
.table-responsive thead th {
    position: sticky;
    top: 0;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}

#buttonL {
    background-color: #006666;
    color: white;
}
